.navbar {
  background-color: teal;
  width: 100%;
  max-height: 5%;
  position: fixed;
  top: 0;
}

.homepage {
  height: 100vh;
  background-color: rebeccapurple;
}

.servicespage {
  height: 100vh;
  background-color: aquamarine;
}

.contactuspage {
  height: 100vh;
  background-color: rgb(87, 168, 249);
}

.aboutmepage {
  height: 100vh;
  background-color: rgb(116, 246, 164);
}