.navbar {
  background-color: teal;
  width: 100%;
  height: 10%;
}

.homepage {
  height: 100vh;
  background-color: rebeccapurple;
}

.servicespage {
  height: 100vh;
  background-color: aquamarine;
}